// Here you can add other styles
.container{
  font-family: cursive !important;
}

.btn-login-submit{
  background-color: #3c4b64 !important;
}

.form-login{
  border-radius: 0.5rem;
}

.container-form-login{
  position: relative;
}

.eye-icon{
  float: right;
  margin-top: -25px;
  position: relative;
  right: 6px;
  z-index: 2;
}



